<ion-view view-title="Encontre ONG's">
  <ion-content class="padding body-color">
      <div class="bar bar-header item-input-inset color">
          <label class="item-input-wrapper color">
            <input type="search" placeholder="Buscar" ng-click="modal.show()">
          </label>

        </div>
       
       
       
       <!-- MODAL -->
       <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar class="bar bar-header bar-assertive">
            <h1 class="title"></h1>
          </ion-header-bar>
          <ion-content class="padding color">
            <div class="list">
                <div class="bar bar-header  item-input-inset color">
                    <label class="item-input-wrapper color">
                      <input type="search" placeholder="Insira algo">
                      </label>
                      <button class="button  button-assertive" ng-click="modal.hide()">
                      Cancelar
                      </button>
                  </div>
                  
                  <!-- Precisa repetir  - colocar ng-repeat/ e link para a tela de mensagens. -->
                  <div class="list card" ng-click="entrarMensagem(); modal.hide()" >

                      <div class="item item-avatar color" id="opacity" ng-repeat="ong in ongs">
                        <img src="https://i.ytimg.com/vi/F4AhmpJm48w/hqdefault.jpg">
                        <h2 class="nomeOng">{{ong.nome}}</h2>
                        <p> {{ong.atucao}} </p>
                      </div>
                  </div>
              

          </ion-content>
        </ion-modal-view>
      </script>
  </ion-content>
</ion-view>