<ion-view view-title="Perfil">
  <ion-content class="padding body-color">
    <ion-list>
        
        <div class="list card" >

            <div class="item item-avatar perfil">
              <img src=" {{usuarioLogado.img}}">
              <h2 id="nomeTitulo">{{usuarioLogado.nome}} {{usuarioLogado.sobrenome}} </h2>
            </div>
            
            <div class="item item-body">
              <p id="descricao">
                {{usuarioLogado.habilidades}}
              </p>
            </div>

            <p class="item">
                <span>data:</span>
                {{usuarioLogado.data}}
              </p>
              <p class="item">
                <span>RG:</span>
                {{usuarioLogado.rg}}
              </p>
            
              <p class="item">
                {{usuarioLogado.cpf}}
              </p>
            
              <p class="item">
                {{usuarioLogado.email}}
              </p>
            
              <p class="item">
                {{usuarioLogado.usuario}}
              </p>
            
          
          </div>
    </ion-list>
  </ion-content>
</ion-view>
