<ion-view view-title="Conversas">
  <ion-content class="padding color">
    <ion-list> 
        
        <div class="list card">

            <div class="item item-avatar" >
              <img src="https://polenfiles.blob.core.windows.net/ongs/ong-sos-amazonia-thumb.png">
              <h2>SOS Amazônia</h2>
              <p></p>
            </div>
          
            <a class="item item-icon-left assertive" href="#/tab/chats/{{chat.id}}">
              Começar conversa!
            </a>
          
        </div>

    </ion-list>
  </ion-content>
</ion-view>
